1
2
3
appdata
build.log
build/windows/python*
build/windows/python.version.sh
build/windows/windows.xml.backup
data/gfx
data/sounds
Makefile
python/__pycache__
python/things/amulets/__pycache__
python/things/armor/__pycache__/
python/things/bodyparts/__pycache__
python/things/boots/__pycache__
python/things/buffs/__pycache__
python/things/cloak/__pycache__
python/things/cloaks/__pycache__/
python/things/containers/__pycache__/
python/things/debuffs/__pycache__
python/things/doors/__pycache__
python/things/dungeon/__pycache__
python/things/effects/__pycache__
python/things/food/__pycache__
python/things/fungus/__pycache__
python/things/gauntlets/__pycache__
python/things/helmet/__pycache__
python/things/internal/__pycache__
python/things/items/__pycache__
python/things/keys/__pycache__/
python/things/lasers/__pycache__
python/things/mobs/__pycache__/
python/things/monsters/__pycache__
python/things/player/__pycache__/
python/things/potions/__pycache__
python/things/projectiles/__pycache__
python/things/__pycache__
python/things/rings/__pycache__
python/things/shield/__pycache__
python/things/skills/__pycache__
python/things/spells/__pycache__
python/things/staffs/__pycache__/
python/things/traps/__pycache__/
python/things/treasure/__pycache__
python/things/weapons/__pycache__
*.session
*/*.session
src/appdata
src/.build
src/config.h
src/Makefile
src/Makefile.bak
src/ramdisk_data_0.S
src/ramdisk_data_1.S
src/ramdisk_data_2.S
src/ramdisk_data_3.S
src/ramdisk_data_4.S
src/ramdisk_data_5.S
src/ramdisk_data_6.S
src/ramdisk_data_7.S
src/ramdisk_data_8.S
src/ramdisk_data_9.S
src/ramdisk_data.cpp
src/*.saved
src/*.tmp
src/zorbash
src/zorbash.exe
src/zorbash.pdb
tests/alphabase/output/
tests/apecastle/output/
tests/badmonkey/output/
tests/castlespire/output/
tests/cavemire/output/
tests/charliebats/output/
tests/deathpool/output/
tests/discobob/output/
tests/dogmanlives/output/
tests/donkeyking/output/
tests/drakestone/output/
tests/dungeonspike/output/
tests/dwarvedelve/output/
tests/footpad/output/
tests/goblinhack/output/
tests/golemheights/output/
tests/grayalien/output/
tests/hearthstone/output/
tests/hellfire/output/
tests/pondscum/output/
tests/seadragon/output/
tests/terrorlake/output/
tests/umbermonk/output/
tests/victimlake/output/
tests/zardoz/output/
zorbash
zorbash-create-release.sh
zorbash.dSYM
zorbash.exe
zorbash.exe.dSYM
zorbash.pdb
zorbash.sh
Zorbash-*-windows-x64-installer.exe
